$color-background: #e02857;
$color-white: #fff;
$color-primary--dark: #101539;
$color-primary: #212750;
$color-primary--medium: #343a5e;
$color-primary--light: #4b5179;
$color-primary--xlight: #6d7395;
