@keyframes play {
  0% {
    font-size: 0;
  }
  75% {
    font-size: 8em;
  }
  100% {
    font-size: 6em;
  }
}

@keyframes winner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
    color: $color-white;
  }
}
