*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: 100%;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-white;
}
